In [50]:
import pandas as pd

In [51]:
amazon_reviews = pd.read_csv('./amazon_reviews.csv')

In [52]:
amazon_reviews.head()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [53]:
amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Books']

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
50,51,__label1__,4,N,Books,1593851286,The Mindful Way Through Depression: Freeing Yo...,Good book,I have begun using many of the techniques disc...
58,59,__label1__,1,N,Books,1594203369,The Most Dangerous Book: The Battle for James ...,A Day in the Life of a Century,"Ulysses Errata Once Penned<br /><br />""Ulysses..."
61,62,__label1__,1,N,Books,670026255,T.C. Boyle Stories II: The Collected Stories o...,Books for Album Covers,J. D Salinger was righteous...<br /><br />Not ...
138,139,__label1__,1,N,Books,1489559698,It Starts With Food CookBook: The Low Sugar Gl...,Go with the original,Customers are advised to go with the original ...
145,146,__label1__,1,N,Books,812995228,Among the Ten Thousand Things: A Novel,The Age of Dead Imagination,"I will write a short, shorter novel too it is ..."
...,...,...,...,...,...,...,...,...,...
20742,20743,__label2__,5,Y,Books,098514792X,Turning Tuscan: A Step-by-Step Guide to Going ...,It explained all about the people and the way ...,I loved the book. It was very interesting and...
20759,20760,__label2__,5,N,Books,553261215,"Boardwalk Jungle,the",Great info,Lots of info on the Philadelphia mob family of...
20773,20774,__label2__,2,N,Books,990722708,Bummed Out City,It was definitely different and something I wo...,A rep from the Artless Dodges Press contacted ...
20774,20775,__label2__,5,N,Books,849947022,Jesus: A Theography,Must read if your a Follower of Jesus,This book opened my eyes to so many connection...
20782,20783,__label2__,5,N,Books,1593596723,"Twilight Garden Journal (Diary, Notebook) (Sma...",Great journal,I bought this to use as a daily journal that I...

In [54]:
amazon_reviews.shape

(21000, 9)

In [55]:
amazon_reviews.columns

Index(['DOC_ID', 'LABEL', 'RATING', 'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY',
       'PRODUCT_ID', 'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT'],
      dtype='object')

In [56]:
relevant_columns = ['RATING', 'PRODUCT_CATEGORY',
       'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT']

In [57]:
amazon_reviews = amazon_reviews[relevant_columns]

In [58]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,Baby,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [59]:
amazon_reviews.count()

RATING              21000
PRODUCT_CATEGORY    21000
PRODUCT_TITLE       21000
REVIEW_TITLE        21000
REVIEW_TEXT         21000
dtype: int64

In [60]:
flipkart_reviews = pd.read_csv('./Flipkart_reviews.csv')

In [61]:
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
4,Good,3,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN

# Checking data cleanliness

In [62]:
len(amazon_reviews)

21000

In [63]:
len(amazon_reviews.dropna())

21000

In [64]:
len(flipkart_reviews)

5891

In [65]:
len(flipkart_reviews.dropna())

3453

In [66]:
# Checking all REVIEW_TEXT are of type 'str'

In [67]:
for i in range(0,len(amazon_reviews)-1):
    if type(amazon_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(amazon_reviews.iloc[i]['REVIEW_TEXT'])
        #amazon_reviews.iloc[i]['REVIEW_TEXT'] = str(amazon_reviews.iloc[i]['REVIEW_TEXT'])

In [68]:
flipkart_reviews = flipkart_reviews.fillna("NA")

In [69]:
for i in range(0,len(flipkart_reviews)-1):
    if type(flipkart_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(flipkart_reviews.iloc[i]['REVIEW_TEXT'])
        flipkart_reviews.iloc[i]['REVIEW_TEXT'] = str(flipkart_reviews.iloc[i]['REVIEW_TEXT'])

# Sentiment definition

In [70]:
def sentiment(n):
    return 1 if n >= 4 else 0

amazon_reviews = amazon_reviews[amazon_reviews['RATING'] != 3]
amazon_reviews['SENTIMENT'] = amazon_reviews['RATING'].apply(sentiment)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1

In [71]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['RATING'] != 3]
flipkart_reviews['SENTIMENT'] = flipkart_reviews['RATING'].apply(sentiment)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1

# Data Pre-processing

In [72]:
def combined_features(row):
    return row['PRODUCT_TITLE'] + ' '+ row['REVIEW_TITLE'] + ' ' + row['REVIEW_TEXT']
amazon_reviews['ALL_FEATURES'] = amazon_reviews.apply(combined_features, axis=1)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1,"Targus PAUK10U Ultra Mini USB Keypad, Black us..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...

In [73]:
flipkart_reviews['ALL_FEATURES'] = flipkart_reviews.apply(combined_features, axis=1)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT,ALL_FEATURES
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."

In [74]:
flipkart_reviews['SOURCE'] = 'Flipkart'

In [75]:
amazon_reviews['SOURCE'] = 'Amazon'

In [76]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from nltk.corpus import stopwords
from bs4 import BeautifulSoup as bs 
import re

In [77]:
import sklearn

In [78]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nikita\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [79]:
#Tokenization of text
tokenizer=ToktokTokenizer()
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

In [80]:
#Removing the html strips
def strip_html(text):
    soup = bs(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(denoise_text)

In [81]:
def remove_special_characters(text, remove_digits=True):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    return text

In [82]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_special_characters)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_special_characters)

In [83]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES,SOURCE
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,When least you think so this product will save...,1,"Targus PAUK10U Ultra Mini USB Keypad, Black us...",Amazon
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...,Amazon
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...,Amazon
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...,Amazon
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table 11 year old and 1...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...,Amazon

In [84]:
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [85]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(simple_stemmer)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(simple_stemmer)

In [86]:
stop=set(stopwords.words('english'))
print(stop)

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

{'he', 'itself', 'ourselves', 'it', "didn't", 'am', 'being', 'just', 'herself', "weren't", 'how', 'nor', 'whom', 'than', 'that', 'she', 'yours', 'only', 'm', "shan't", 'up', 'while', 'when', "won't", 'was', 'more', 'on', 'below', 'down', 'an', 'needn', 'does', "mightn't", "wouldn't", 'be', 'for', 'wasn', "that'll", "doesn't", 'll', "you're", 'out', "you'll", 'under', 'can', 'most', 'has', 'themselves', 'but', "hasn't", 'had', 're', 'hers', "you've", 'who', 'the', 'we', 'until', 'why', 'd', 'y', 'where', 'her', 'o', 'wouldn', 'didn', 'through', 'own', 'theirs', 'mightn', 'them', 'in', "don't", "you'd", 'further', 'very', "mustn't", "needn't", "shouldn't", 'by', 'once', 'you', 'his', 'so', 'is', 'now', 'which', 'my', 'at', "haven't", 'these', 'don', 'do', "isn't", "it's", 'any', 'this', 'me', 's', 'then', 'over', 'ours', "should've", 'him', 'shan', 'between', 'of', 'our', 'have', 'having', 'into', 'i', 'there', 'weren', 'from', 'each', 'isn', 'those', 'ma', 'couldn', 'not', 'should', 'and', 'here', 'ain', 'doesn', 'what', 'above', 'again', "couldn't", 'were', 'to', 'with', 'no', 'all', "she's", 'as', 'did', 've', 't', 'himself', "wasn't", "aren't", 'hadn', 'shouldn', "hadn't", 'if', 'its', 'yourselves', 'haven', 'will', 'yourself', 'too', 'few', 'doing', 'such', 'mustn', 'are', 'their', 'aren', 'during', 'against', 'been', 'both', 'off', 'they', 'some', 'before', 'about', 'other', 'or', 'after', 'won', 'a', 'myself', 'hasn', 'because', 'your', 'same'}

In [87]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_stopwords)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_stopwords)

In [88]:
amazon_reviews = amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Books']

In [89]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['PRODUCT_CATEGORY'] == 'Books']

In [90]:
X_Amazon = amazon_reviews['ALL_FEATURES']
y_Amazon = amazon_reviews['SENTIMENT']

In [91]:
X_Amazon.shape

(649,)

In [92]:
X_Flipkart = flipkart_reviews['ALL_FEATURES']
y_Flipkart = flipkart_reviews['SENTIMENT']

In [93]:
from sklearn.model_selection import train_test_split
X_train_Amazon, X_test_Amazon, y_train_Amazon, y_test_Amazon = train_test_split(X_Amazon, y_Amazon, random_state=0)
X_train_Flipkart, X_test_Flipkart, y_train_Flipkart, y_test_Flipkart = train_test_split(X_Flipkart, y_Flipkart, random_state=0)

# Bag of words model

In [94]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
ctmTr = cv.fit_transform(X_train_Amazon)
X_test_dtm = cv.transform(X_test_Amazon)

In [95]:
ctmTr_Flip = cv.fit_transform(X_train_Flipkart)
X_test_dtm_Flip = cv.transform(X_test_Flipkart)

In [96]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(ctmTr, y_train_Amazon)

LogisticRegression()

In [97]:
model_Flip = LogisticRegression()
model_Flip.fit(ctmTr_Flip, y_train_Flipkart)

LogisticRegression()

In [98]:
y_pred_class = model.predict(X_test_dtm)

In [99]:
accuracy_score(y_test_Amazon, y_pred_class)

0.8895705521472392

In [100]:
y_pred_class

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1], dtype=int64)

In [101]:
X_test_Amazon

19105    Cozy Classics: Jane Eyre best board books! We ...
12068    Five: A Novel So Many Twist & Turns You'll Be ...
6136     The Living Art of Ketsugo Jujutsu: A Dialog on...
20636    Body Art: Tattoo Designs Coloring Book (Dover ...
17073    Simon and Schuster Super Crossword Puzzle Book...
                               ...
20241    The Preservation Kitchen: The Craft of Making ...
10838    Counting by 7s A beautiful story - a no spoile...
5361     Financial Analysis for HR Managers: Tools for ...
6195     Medical Administrative Assistant Exam Prep: Me...
2111     The Seraphim Will be generous with 2 stars. Av...
Name: ALL_FEATURES, Length: 163, dtype: object

In [102]:
y_pred_class_Flip = model_Flip.predict(X_test_dtm_Flip)

In [103]:
y_pred_class_Flip

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [104]:
accuracy_score(y_test_Flipkart, y_pred_class_Flip)

0.9837837837837838