In [64]:
import pandas as pd

In [65]:
amazon_reviews = pd.read_csv('./amazon_reviews.csv')

In [66]:
amazon_reviews.head()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [68]:
amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Apparel']

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
114,115,__label1__,4,Y,Apparel,B00FMUYSUG,Hot Sexy Lingerie Babydoll Lace Dress Underwea...,good,Will def light up your bedroom!!It fits me fin...
141,142,__label1__,1,Y,Apparel,B00835QQ3Y,Solid Color Military Canvas Web Belt One Size ...,Watch what you order,Ordered a 50&#34; belt and was sent a 40&#34;....
157,158,__label1__,4,N,Apparel,B003RRWZTW,Columbia Women's Plus-Size Benton Springs Full...,fit is really nice,"The fit is really nice, the material is great,..."
273,274,__label1__,3,N,Apparel,B008L568ZW,TowelSelections Waffle Bathrobe - 100% Turkish...,not a good quality,The quality of this bathrobe does not nearly c...
295,296,__label1__,4,N,Apparel,B0073MLZ70,Alpine Swiss Mens Leather Flipout ID Wallet Bi...,High-Quality Materials,"Once again, dealing with them was a pleasure. ..."
...,...,...,...,...,...,...,...,...,...
20935,20936,__label2__,3,Y,Apparel,B00JGQLZCG,Lindy Bop 'Ophelia' Vintage 1950's Prom Swing ...,I'm really disappointed..,I'm really disappointed... I got the dress fa...
20936,20937,__label2__,5,Y,Apparel,B002CM0Q4Y,Non Skid/Slip Socks - Hospital Socks - Slipper...,Hospital Socks,"For some reason, my girlfriend wanted comfy so..."
20937,20938,__label2__,5,Y,Apparel,B001QUPK4Y,CTM® Mens Leather 1 1/4 Inch Basic Dress Belt ...,excellent,"excellent, lo voy a recomendar a toda mi famil..."
20938,20939,__label2__,1,Y,Apparel,B00E8782XI,Lookbookstore Women Denim PU Leather Contrast ...,Bad color,"To Green, not like picture at all ...<br />Fab..."
20940,20941,__label2__,3,Y,Apparel,B00S9UDFZU,Neck Deep Men's Generic Pop Punk T-shirt Mediu...,I am a small person (5'0) and I wanted it ...,I am a small person (5'0) and I wanted it to b...

In [69]:
amazon_reviews.shape

(21000, 9)

In [70]:
amazon_reviews.columns

Index(['DOC_ID', 'LABEL', 'RATING', 'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY',
       'PRODUCT_ID', 'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT'],
      dtype='object')

In [71]:
relevant_columns = ['RATING', 'PRODUCT_CATEGORY',
       'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT']

In [72]:
amazon_reviews = amazon_reviews[relevant_columns]

In [73]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,Baby,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [74]:
amazon_reviews.count()

RATING              21000
PRODUCT_CATEGORY    21000
PRODUCT_TITLE       21000
REVIEW_TITLE        21000
REVIEW_TEXT         21000
dtype: int64

In [75]:
flipkart_reviews = pd.read_csv('./Flipkart_reviews.csv')

In [76]:
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
4,Good,3,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN

# Checking data cleanliness

In [77]:
len(amazon_reviews)

21000

In [78]:
len(amazon_reviews.dropna())

21000

In [79]:
len(flipkart_reviews)

5891

In [80]:
len(flipkart_reviews.dropna())

3453

In [81]:
# Checking all REVIEW_TEXT are of type 'str'

In [82]:
for i in range(0,len(amazon_reviews)-1):
    if type(amazon_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(amazon_reviews.iloc[i]['REVIEW_TEXT'])
        #amazon_reviews.iloc[i]['REVIEW_TEXT'] = str(amazon_reviews.iloc[i]['REVIEW_TEXT'])

In [83]:
flipkart_reviews = flipkart_reviews.fillna("NA")

In [84]:
for i in range(0,len(flipkart_reviews)-1):
    if type(flipkart_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(flipkart_reviews.iloc[i]['REVIEW_TEXT'])
        flipkart_reviews.iloc[i]['REVIEW_TEXT'] = str(flipkart_reviews.iloc[i]['REVIEW_TEXT'])

# Sentiment definition

In [85]:
def sentiment(n):
    return 1 if n >= 4 else 0

amazon_reviews = amazon_reviews[amazon_reviews['RATING'] != 3]
amazon_reviews['SENTIMENT'] = amazon_reviews['RATING'].apply(sentiment)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1

In [86]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['RATING'] != 3]
flipkart_reviews['SENTIMENT'] = flipkart_reviews['RATING'].apply(sentiment)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1

# Data Pre-processing

In [87]:
def combined_features(row):
    return row['PRODUCT_TITLE'] + ' '+ row['REVIEW_TITLE'] + ' ' + row['REVIEW_TEXT']
amazon_reviews['ALL_FEATURES'] = amazon_reviews.apply(combined_features, axis=1)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1,"Targus PAUK10U Ultra Mini USB Keypad, Black us..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...

In [88]:
flipkart_reviews['ALL_FEATURES'] = flipkart_reviews.apply(combined_features, axis=1)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT,ALL_FEATURES
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."

In [89]:
flipkart_reviews['SOURCE'] = 'Flipkart'

In [90]:
amazon_reviews['SOURCE'] = 'Amazon'

In [91]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from nltk.corpus import stopwords
from bs4 import BeautifulSoup as bs 
import re

In [92]:
import sklearn

In [93]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nikita\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [94]:
#Tokenization of text
tokenizer=ToktokTokenizer()
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

In [95]:
#Removing the html strips
def strip_html(text):
    soup = bs(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(denoise_text)

In [96]:
def remove_special_characters(text, remove_digits=True):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    return text

In [97]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_special_characters)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_special_characters)

In [98]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES,SOURCE
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,When least you think so this product will save...,1,"Targus PAUK10U Ultra Mini USB Keypad, Black us...",Amazon
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...,Amazon
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...,Amazon
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...,Amazon
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table 11 year old and 1...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...,Amazon

In [99]:
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [100]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(simple_stemmer)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(simple_stemmer)

In [101]:
stop=set(stopwords.words('english'))
print(stop)

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

{'haven', 'before', "wouldn't", 'aren', 'which', 'yourself', 'only', 'had', 'or', 'isn', 'were', 'own', 'other', "you're", 'yourselves', 'down', 'our', 'him', 'too', 'couldn', 'can', 'below', "aren't", "doesn't", "haven't", 'about', 's', "mustn't", 'them', "that'll", 'doing', 'now', 'wouldn', "you'd", 'ain', "shan't", 'doesn', 'shan', 'you', 'who', 're', 'against', 'each', 'few', 'my', 'why', 'both', 'her', "needn't", 'hers', 't', 'more', 'at', 'o', 'won', 'with', 'being', 'mustn', 'than', 'to', 'this', 'of', 'what', 'it', 'me', 'himself', 'when', 'into', 'any', 'same', 'have', 'from', 'hadn', 'mightn', 'll', 'myself', 'here', 'while', "shouldn't", 'again', "you've", "couldn't", "wasn't", 'didn', 'themselves', "hadn't", 'needn', 'he', 'wasn', 'not', "mightn't", 'its', 'over', 'i', 'yours', 'an', 'that', 'these', 'those', 'has', 'do', 'during', 'once', "don't", 'did', 'y', 'weren', 'is', 'so', 'will', 'on', 'ours', "she's", 'be', 'whom', 'd', 'then', 'where', 'up', 'their', 'as', 'some', 'further', 'there', 'she', 'most', 'how', 'under', "won't", 'by', 'all', "didn't", 'through', 'herself', "weren't", "it's", 'ourselves', 'having', 'and', 'until', 'they', 'a', 'does', 'such', 'in', 'no', 'just', 'been', 'after', 'm', 'itself', 'we', 've', 'the', 'hasn', 'if', 'between', 'for', "should've", 'shouldn', 'am', 'above', "you'll", 'his', 'very', 'should', 'nor', 'because', 'theirs', 'but', "hasn't", 'was', 'your', 'off', "isn't", 'are', 'ma', 'out', 'don'}

In [102]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_stopwords)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_stopwords)

In [103]:
amazon_reviews = amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Apparel']

In [104]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['PRODUCT_CATEGORY'] == 'Apparel']

In [105]:
X_Amazon = amazon_reviews['ALL_FEATURES']
y_Amazon = amazon_reviews['SENTIMENT']

In [106]:
X_Amazon.shape

(629,)

In [107]:
X_Flipkart = flipkart_reviews['ALL_FEATURES']
y_Flipkart = flipkart_reviews['SENTIMENT']

In [108]:
from sklearn.model_selection import train_test_split
X_train_Amazon, X_test_Amazon, y_train_Amazon, y_test_Amazon = train_test_split(X_Amazon, y_Amazon, random_state=0)
X_train_Flipkart, X_test_Flipkart, y_train_Flipkart, y_test_Flipkart = train_test_split(X_Flipkart, y_Flipkart, random_state=0)

# Bag of words model

In [109]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
ctmTr = cv.fit_transform(X_train_Amazon)
X_test_dtm = cv.transform(X_test_Amazon)

In [110]:
ctmTr_Flip = cv.fit_transform(X_train_Flipkart)
X_test_dtm_Flip = cv.transform(X_test_Flipkart)

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(ctmTr, y_train_Amazon)

LogisticRegression()

In [112]:
model_Flip = LogisticRegression()
model_Flip.fit(ctmTr_Flip, y_train_Flipkart)

LogisticRegression()

In [113]:
y_pred_class = model.predict(X_test_dtm)

In [114]:
accuracy_score(y_test_Amazon, y_pred_class)

0.9050632911392406

In [115]:
y_pred_class

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1], dtype=int64)

In [116]:
X_test_Amazon

7688     Spikerking Women's Fascinators Small Feather Y...
11233    Oakley Men's Village Park T-Shirt, Jet Black, ...
20303    Men's Leather Wallet Euro Traveler Extra Capac...
8811     Diamond Candy Hooded Softshell Waterproof Jack...
13801    Faux Real Men's Oktoberfest, Red/Brown, Large ...
                               ...
20763    NYDJ Women's Sheri Skinny Jeans in Modesto, Mo...
20413    Fossil Men's Ingram Magnetic Multi-Card Wallet...
4015     Dinosaur Onesie for Adults Counterfeit WARNING...
20895    Sakkas 22311 Garden Goddess Corset Style Dress...
18112    Dickies Women's Sherpa Bonded Fleece Hoodie, P...
Name: ALL_FEATURES, Length: 158, dtype: object

In [117]:
y_pred_class_Flip = model_Flip.predict(X_test_dtm_Flip)

In [118]:
y_pred_class_Flip

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [119]:
accuracy_score(y_test_Flipkart, y_pred_class_Flip)

0.8974358974358975