In [8]:
import pandas as pd

In [9]:
amazon_reviews = pd.read_csv('./amazon_reviews.csv')

In [10]:
amazon_reviews.head()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [11]:
amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Sports']

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
17,18,__label1__,4,N,Sports,B000HE8NK8,Barnett Diablo Slingshot,good enough,"As sling shots go, this is good enough for my ..."
74,75,__label1__,1,N,Sports,B00EZP84O0,Genuine DIYBypass for All AVH Pioneer - Double...,"worked for 2 days, then stopped working",This company sent me a email after i purchased...
120,121,__label1__,4,N,Sports,B002RPFN80,Ready to Fish 136 piece 3 Tray Tackle Box,Great box for the price.,This is a great tackle box for small scale fre...
133,134,__label1__,3,Y,Sports,B0000BYMX6,"US Games Segmented Skip Rope (Black/White, 6-f...",Short for adult,I am 5&#34;11 and this is way too short.<br />...
155,156,__label1__,2,N,Sports,B000UEP0NI,FitDeck Bodyweight,Full and Complete Review of Fit Deck Bodyweight,"I am a collector of fitness products, there ar..."
...,...,...,...,...,...,...,...,...,...
20278,20279,__label2__,2,Y,Sports,B003PAX770,Reebok Adjustable Ankle Weight (10-Pounds),uncomfortable,These are good but keep sliding down and that ...
20279,20280,__label2__,5,Y,Sports,B00EBBA3VA,Front Line Tuckable Open Top Leather Holster (...,Great holster for the price,Great holster for the price. Fit and finish is...
20297,20298,__label2__,4,Y,Sports,B007JUXA8I,"Rothco Shemagh Tactical Desert Scarf, PURPLE Size",Good product.,I ordered this product at the same time that I...
20314,20315,__label2__,3,Y,Sports,B0082COWEI,Firepower Soft Air AEG F4-D Air Rifle,Good for 10 year play,This is a pretty cheaply made airsoft rifle. ...
20321,20322,__label2__,5,Y,Sports,B00K8TE2NE,"Swiftwick ASPIRE Four Socks, Green, Large",These are great socks. I wasn't a believer unt...,Product just as described. These are great soc...

In [12]:
amazon_reviews.shape

(21000, 9)

In [13]:
amazon_reviews.columns

Index(['DOC_ID', 'LABEL', 'RATING', 'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY',
       'PRODUCT_ID', 'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT'],
      dtype='object')

In [14]:
relevant_columns = ['RATING', 'PRODUCT_CATEGORY',
       'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT']

In [15]:
amazon_reviews = amazon_reviews[relevant_columns]

In [16]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,Baby,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [17]:
amazon_reviews.count()

RATING              21000
PRODUCT_CATEGORY    21000
PRODUCT_TITLE       21000
REVIEW_TITLE        21000
REVIEW_TEXT         21000
dtype: int64

In [18]:
flipkart_reviews = pd.read_csv('./Flipkart_reviews.csv')

In [19]:
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
4,Good,3,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN

# Checking data cleanliness

In [20]:
len(amazon_reviews)

21000

In [21]:
len(amazon_reviews.dropna())

21000

In [22]:
len(flipkart_reviews)

5891

In [23]:
len(flipkart_reviews.dropna())

3453

In [24]:
# Checking all REVIEW_TEXT are of type 'str'

In [25]:
for i in range(0,len(amazon_reviews)-1):
    if type(amazon_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(amazon_reviews.iloc[i]['REVIEW_TEXT'])
        #amazon_reviews.iloc[i]['REVIEW_TEXT'] = str(amazon_reviews.iloc[i]['REVIEW_TEXT'])

In [26]:
flipkart_reviews = flipkart_reviews.fillna("NA")

In [27]:
for i in range(0,len(flipkart_reviews)-1):
    if type(flipkart_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(flipkart_reviews.iloc[i]['REVIEW_TEXT'])
        flipkart_reviews.iloc[i]['REVIEW_TEXT'] = str(flipkart_reviews.iloc[i]['REVIEW_TEXT'])

# Sentiment definition

In [28]:
def sentiment(n):
    return 1 if n >= 4 else 0

amazon_reviews = amazon_reviews[amazon_reviews['RATING'] != 3]
amazon_reviews['SENTIMENT'] = amazon_reviews['RATING'].apply(sentiment)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1

In [29]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['RATING'] != 3]
flipkart_reviews['SENTIMENT'] = flipkart_reviews['RATING'].apply(sentiment)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1

# Data Pre-processing

In [30]:
def combined_features(row):
    return row['PRODUCT_TITLE'] + ' '+ row['REVIEW_TITLE'] + ' ' + row['REVIEW_TEXT']
amazon_reviews['ALL_FEATURES'] = amazon_reviews.apply(combined_features, axis=1)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1,"Targus PAUK10U Ultra Mini USB Keypad, Black us..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...

In [31]:
flipkart_reviews['ALL_FEATURES'] = flipkart_reviews.apply(combined_features, axis=1)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT,ALL_FEATURES
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."

In [32]:
flipkart_reviews['SOURCE'] = 'Flipkart'

In [33]:
amazon_reviews['SOURCE'] = 'Amazon'

In [34]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from nltk.corpus import stopwords
from bs4 import BeautifulSoup as bs 
import re

In [35]:
import sklearn

In [36]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nikita\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [37]:
#Tokenization of text
tokenizer=ToktokTokenizer()
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

In [38]:
#Removing the html strips
def strip_html(text):
    soup = bs(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(denoise_text)

In [39]:
def remove_special_characters(text, remove_digits=True):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    return text

In [40]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_special_characters)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_special_characters)

In [41]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES,SOURCE
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,When least you think so this product will save...,1,"Targus PAUK10U Ultra Mini USB Keypad, Black us...",Amazon
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...,Amazon
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...,Amazon
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...,Amazon
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table 11 year old and 1...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...,Amazon

In [42]:
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [43]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(simple_stemmer)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(simple_stemmer)

In [44]:
stop=set(stopwords.words('english'))
print(stop)

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

{'both', 'into', 'why', 'same', 'few', "it's", 'each', 'y', 'we', 'ain', 'your', 'further', 'its', 'aren', 'she', 'mightn', 'were', "haven't", 'from', 'against', 'won', 'having', 'over', "that'll", 'yourself', 'more', 'that', 'him', 'll', 'this', 'while', 'then', 'hasn', 'if', 'm', 'the', "you'd", 'only', "didn't", 'very', 'than', 'have', 'these', 'hadn', "you're", 'isn', 'an', 'about', 'shan', 'their', 'you', "shan't", 'it', 'in', 'here', 'when', 'through', 'myself', 'shouldn', 'can', 'is', 'ourselves', 'what', 'who', 'because', 'as', 'and', 'themselves', 'ours', "isn't", 'wouldn', 'he', 'did', 'd', 'has', 'so', "don't", 'our', 'at', 'on', 'didn', "mightn't", 'other', 'being', 'mustn', 'o', 'there', 'nor', 'below', 'such', 'those', "hasn't", 'too', 'been', 'doesn', 'haven', 'own', 't', 'weren', 'yours', 'herself', 'again', 've', 'not', 'theirs', 'himself', 'yourselves', 'before', "weren't", "hadn't", 's', 'ma', "wasn't", 'will', 'under', 'doing', 'be', 'now', 'me', 'or', "you'll", 'no', 'until', 'my', "aren't", "should've", "couldn't", 'should', 'couldn', 'itself', "shouldn't", 'some', 'of', 'any', 'don', 'which', 'just', 'wasn', 'i', 'down', 'with', 'a', "mustn't", 'had', 'do', 'her', 'during', 'above', 'how', 'needn', 'for', "won't", 'where', "doesn't", 'they', 'hers', 'whom', 'once', "you've", 'are', 'after', 'does', 'am', 'to', 'out', "needn't", 'his', 'up', "she's", 'by', 'between', 'all', 'was', 'but', 're', 'off', 'most', "wouldn't", 'them'}

In [45]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_stopwords)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_stopwords)

In [46]:
amazon_reviews = amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Sports']

In [47]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['PRODUCT_CATEGORY'] == 'Sports']

In [48]:
X_Amazon = amazon_reviews['ALL_FEATURES']
y_Amazon = amazon_reviews['SENTIMENT']

In [49]:
X_Amazon.shape

(632,)

In [50]:
X_Flipkart = flipkart_reviews['ALL_FEATURES']
y_Flipkart = flipkart_reviews['SENTIMENT']

In [51]:
from sklearn.model_selection import train_test_split
X_train_Amazon, X_test_Amazon, y_train_Amazon, y_test_Amazon = train_test_split(X_Amazon, y_Amazon, random_state=0)
X_train_Flipkart, X_test_Flipkart, y_train_Flipkart, y_test_Flipkart = train_test_split(X_Flipkart, y_Flipkart, random_state=0)

# Bag of words model

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
ctmTr = cv.fit_transform(X_train_Amazon)
X_test_dtm = cv.transform(X_test_Amazon)

In [53]:
ctmTr_Flip = cv.fit_transform(X_train_Flipkart)
X_test_dtm_Flip = cv.transform(X_test_Flipkart)

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(ctmTr, y_train_Amazon)

LogisticRegression()

In [55]:
model_Flip = LogisticRegression()
model_Flip.fit(ctmTr_Flip, y_train_Flipkart)

LogisticRegression()

In [56]:
y_pred_class = model.predict(X_test_dtm)

In [57]:
accuracy_score(y_test_Amazon, y_pred_class)

0.8860759493670886

In [58]:
y_pred_class

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1], dtype=int64)

In [59]:
X_test_Amazon

6653     Trampoline Replacement Safety Net, Fits For 13...
17395    Headband Mount No good for real shaped heads.....
20196    Cellerciser Portable Tri-Fold plus Balance Bar...
5784     COOVY ATHLETE Men's Sports Compression Base La...
20265    VIPERTEK VTS-881 - 28,000,000 V Micro Stun Gun...
                               ...
11554    Boyt Harness Counter Pad Can't have enough Boy...
4787     Komene Women's Sexy Push up Bikini Set Black S...
19340    Spyderco Manix 2 Black G-10 PlainEdge Knife Gr...
7829     1000 6mm BB'S POLYBAGGED - WEIGHT .12g (PACKAG...
2856     Canvas Wall Striking Bag 3 SECTION Poorly cons...
Name: ALL_FEATURES, Length: 158, dtype: object

In [60]:
y_pred_class_Flip = model_Flip.predict(X_test_dtm_Flip)

In [61]:
y_pred_class_Flip

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [62]:
accuracy_score(y_test_Flipkart, y_pred_class_Flip)

0.9831932773109243