In [1]:
import pandas as pd

In [2]:
amazon_reviews = pd.read_csv('./amazon_reviews.csv')

In [3]:
amazon_reviews.head()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [4]:
amazon_reviews.shape

(21000, 9)

In [5]:
amazon_reviews.columns

Index(['DOC_ID', 'LABEL', 'RATING', 'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY',
       'PRODUCT_ID', 'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT'],
      dtype='object')

In [6]:
relevant_columns = ['RATING', 'PRODUCT_CATEGORY',
       'PRODUCT_TITLE', 'REVIEW_TITLE', 'REVIEW_TEXT']

In [7]:
amazon_reviews = amazon_reviews[relevant_columns]

In [8]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,Baby,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [9]:
amazon_reviews.count()

RATING              21000
PRODUCT_CATEGORY    21000
PRODUCT_TITLE       21000
REVIEW_TITLE        21000
REVIEW_TEXT         21000
dtype: int64

In [10]:
flipkart_reviews = pd.read_csv('./Flipkart_reviews.csv')

In [11]:
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN
4,Good,3,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NaN

# Checking data cleanliness

In [12]:
len(amazon_reviews)

21000

In [13]:
len(amazon_reviews.dropna())

21000

In [14]:
len(flipkart_reviews)

5891

In [15]:
len(flipkart_reviews.dropna())

3453

In [16]:
# Checking all REVIEW_TEXT are of type 'str'

In [17]:
for i in range(0,len(amazon_reviews)-1):
    if type(amazon_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(amazon_reviews.iloc[i]['REVIEW_TEXT'])
        #amazon_reviews.iloc[i]['REVIEW_TEXT'] = str(amazon_reviews.iloc[i]['REVIEW_TEXT'])

In [18]:
flipkart_reviews = flipkart_reviews.fillna("NA")

In [19]:
for i in range(0,len(flipkart_reviews)-1):
    if type(flipkart_reviews.iloc[i]['REVIEW_TEXT']) != str:
        print(flipkart_reviews.iloc[i]['REVIEW_TEXT'])
        flipkart_reviews.iloc[i]['REVIEW_TEXT'] = str(flipkart_reviews.iloc[i]['REVIEW_TEXT'])

# Sentiment definition

In [20]:
def sentiment(n):
    return 1 if n >= 4 else 0

amazon_reviews = amazon_reviews[amazon_reviews['RATING'] != 3]
amazon_reviews['SENTIMENT'] = amazon_reviews['RATING'].apply(sentiment)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1

In [21]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['RATING'] != 3]
flipkart_reviews['SENTIMENT'] = flipkart_reviews['RATING'].apply(sentiment)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1

# Data Pre-processing

In [22]:
def combined_features(row):
    return row['PRODUCT_TITLE'] + ' '+ row['REVIEW_TITLE'] + ' ' + row['REVIEW_TEXT']
amazon_reviews['ALL_FEATURES'] = amazon_reviews.apply(combined_features, axis=1)
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav...",1,"Targus PAUK10U Ultra Mini USB Keypad, Black us..."
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table. 11 year old and ...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...

In [23]:
flipkart_reviews['ALL_FEATURES'] = flipkart_reviews.apply(combined_features, axis=1)
flipkart_reviews.head()

,REVIEW_TEXT,RATING,PRODUCT_TITLE,PRODUCT_CATEGORY,REVIEW_TITLE,SENTIMENT,ALL_FEATURES
0,Not nice,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
1,Good quality product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
2,Nice,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
3,Very bed,1,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,0,"Solid Men Mandarin Collar White, Blue T-Shirt ..."
5,Good product,5,"Solid Men Mandarin Collar White, Blue T-Shirt",Apparel,NA,1,"Solid Men Mandarin Collar White, Blue T-Shirt ..."

In [24]:
flipkart_reviews['SOURCE'] = 'Flipkart'

In [25]:
amazon_reviews['SOURCE'] = 'Amazon'

In [26]:
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from nltk.corpus import stopwords
from bs4 import BeautifulSoup as bs 
import re

In [27]:
import sklearn

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nikita\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
#Tokenization of text
tokenizer=ToktokTokenizer()
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

In [30]:
#Removing the html strips
def strip_html(text):
    soup = bs(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the noisy text
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(denoise_text)

In [31]:
def remove_special_characters(text, remove_digits=True):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    return text

In [32]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_special_characters)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_special_characters)

In [33]:
amazon_reviews.head()

,RATING,PRODUCT_CATEGORY,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT,SENTIMENT,ALL_FEATURES,SOURCE
0,4,PC,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,When least you think so this product will save...,1,"Targus PAUK10U Ultra Mini USB Keypad, Black us...",Amazon
1,4,Wireless,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...,1,Note 3 Battery : Stalion Strength Replacement ...,Amazon
3,4,Office Products,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...,1,Casio MS-80B Standard Function Desktop Calcula...,Amazon
4,4,Beauty,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...,1,Shine Whitening - Zero Peroxide Teeth Whitenin...,Amazon
6,4,Toys,ESPN 2-Piece Table Tennis,PING PONG TABLE GREAT FOR YOUTHS AND FAMILY,Pleased with ping pong table 11 year old and 1...,1,ESPN 2-Piece Table Tennis PING PONG TABLE GREA...,Amazon

In [34]:
def simple_stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [35]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(simple_stemmer)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(simple_stemmer)

In [36]:
stop=set(stopwords.words('english'))
print(stop)

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

{'of', 'for', 'there', "isn't", 'him', 'than', "shouldn't", 'hadn', 'won', 'ain', 'himself', 'can', "won't", 'our', 'mightn', "mightn't", 'very', 'don', 'how', 'in', 'be', 'their', 'ourselves', "wasn't", 'mustn', "didn't", 'from', 'those', 'he', "haven't", "weren't", 'most', 'same', 'm', 'yourself', 'being', 'themselves', 'needn', 'i', 'do', 'so', 'her', 'then', 'y', 'each', 'shan', 'further', 'who', 'didn', 'she', 'my', 'too', 'any', 'having', 'until', "you'd", "aren't", 'is', "you're", 'it', 'aren', "you'll", 'at', 'again', 'yours', 'after', 'just', 'ours', 'off', 'some', "don't", 'here', 'were', 'whom', 'these', 'doesn', 'or', 'does', 'them', 'into', "needn't", 'did', 'this', 'above', "you've", 'wouldn', 'if', 'hers', 'under', 'and', 'what', "doesn't", 'only', 'ma', 'myself', 'an', 're', "wouldn't", 'about', "hadn't", 'yourselves', 'which', 'as', 'o', 't', 'between', "hasn't", 'over', 'll', 'his', 'we', 'your', 've', 'on', 'while', "should've", 'more', 'during', 'nor', 'has', 'both', 'am', 'no', 'not', 'are', 'but', 'you', 'because', 'to', 'couldn', 'itself', 'was', 'out', "she's", 'own', 'me', 'where', "mustn't", 'should', 'a', 'when', 'by', 'with', 'few', 'hasn', 'have', 'why', 'theirs', 'such', 'before', 'doing', 'through', 'its', 's', 'up', 'isn', 'below', "it's", 'once', 'had', 'weren', 'that', 'they', 'against', 'now', "shan't", 'down', 'will', 'shouldn', 'all', 'other', 'haven', 'been', "couldn't", 'wasn', 'herself', "that'll", 'd', 'the'}

In [39]:
amazon_reviews['REVIEW_TEXT']=amazon_reviews['REVIEW_TEXT'].apply(remove_stopwords)
flipkart_reviews['REVIEW_TEXT']=flipkart_reviews['REVIEW_TEXT'].apply(remove_stopwords)

In [40]:
amazon_reviews = amazon_reviews[amazon_reviews['PRODUCT_CATEGORY'] == 'Home']

In [41]:
flipkart_reviews = flipkart_reviews[flipkart_reviews['PRODUCT_CATEGORY'] == 'Home']

In [42]:
X_Amazon = amazon_reviews['ALL_FEATURES']
y_Amazon = amazon_reviews['SENTIMENT']

In [43]:
X_Flipkart = flipkart_reviews['ALL_FEATURES']
y_Flipkart = flipkart_reviews['SENTIMENT']

In [44]:
from sklearn.model_selection import train_test_split
X_train_Amazon, X_test_Amazon, y_train_Amazon, y_test_Amazon = train_test_split(X_Amazon, y_Amazon, random_state=0)
X_train_Flipkart, X_test_Flipkart, y_train_Flipkart, y_test_Flipkart = train_test_split(X_Flipkart, y_Flipkart, random_state=0)

# Bag of words model

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
ctmTr = cv.fit_transform(X_train_Amazon)
X_test_dtm = cv.transform(X_test_Amazon)

In [46]:
ctmTr_Flip = cv.fit_transform(X_train_Flipkart)
X_test_dtm_Flip = cv.transform(X_test_Flipkart)

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(ctmTr, y_train_Amazon)

LogisticRegression()

In [48]:
model_Flip = LogisticRegression()
model_Flip.fit(ctmTr_Flip, y_train_Flipkart)

LogisticRegression()

In [49]:
y_pred_class = model.predict(X_test_dtm)

In [50]:
accuracy_score(y_test_Amazon, y_pred_class)

0.9130434782608695

In [51]:
y_pred_class

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [52]:
X_test_Amazon

20042    Lion Brand Yarn 400-5-7002 Knitting Spool Knit...
5261     Quick Dry Hanging Toiletry and Bath Organizer ...
14852    La Crosse Technology WS-9080U-IT Wireless IN/O...
6643     Spanish Talking Alarm Clock, Big Clear Display...
13732    Loew Cornell 1021095 Simply Art Watercolor Cak...
                               ...
6633     BISSELL 2X Pet Stain & Odor Portable Machine F...
2409     Hoover Max Extract 77 Multi-Surface Pro Carpet...
17796    InterDesign 3 Drawer Storage Organizer for Cos...
12446    Shark Rotator Powered Lift-Away TruePet (NV752...
3769     InterDesign Kyoto Soap Saver, Brushed Stainles...
Name: ALL_FEATURES, Length: 161, dtype: object

In [53]:
y_pred_class_Flip = model_Flip.predict(X_test_dtm_Flip)

In [54]:
y_pred_class_Flip

array([1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [55]:
accuracy_score(y_test_Flipkart, y_pred_class_Flip)

0.9868421052631579